.chat-container-GPT-messages-global-system,
.chat-container-GPT-messages-local-system,
.chat-container-GPT-messages-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.chat-container-GPT-messages-global-system-bubble,
.chat-container-GPT-messages-local-system-bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat-container-GPT-messages-global-system-bubble {
    background-color: #2b2938;
    border: #2b2938 3px solid;
}

.chat-container-GPT-messages-local-system-bubble {
    background-color: #303030;
    border: #303030 3px solid;
}

.chat-container-GPT-messages-global-system-bubble::-webkit-scrollbar,
.chat-container-GPT-messages-local-system-bubble::-webkit-scrollbar,
.chat-container-GPT-messages-search-bubble::-webkit-scrollbar {
    display: none;
}

.chat-container-GPT-messages-global-system-bubble label,
.chat-container-GPT-messages-local-system-bubble label {
    position: sticky;
    top: 3px;
    font-family: 'Berlin Sans FB';
    font-size: 20px;
    transition: 0.3s;
}

.chat-container-GPT-messages-global-system-bubble pre,
.chat-container-GPT-messages-local-system-bubble pre {
    position: absolute;
    top: 0;
    display: block;
    white-space: pre-wrap;
    /* text-align: center; */
    width: 95%;
    margin: 10px;
    font-family: 'Times New Roman';
    font-size: 15px;
    opacity: 0;
    transition: 0.3s;
}

.chat-container-GPT-messages-global-system-bubble:hover,
.chat-container-GPT-messages-local-system-bubble:hover {
    width: 600px;
    height: 200px;
}

.chat-container-GPT-messages-global-system-bubble:hover {
    background-color: #13101b;
    border-color: #332c5e;
}

.chat-container-GPT-messages-local-system-bubble:hover {
    background-color: #111111;
    border-color: #686868;
}

.chat-container-GPT-messages-global-system-bubble:hover label,
.chat-container-GPT-messages-local-system-bubble:hover label {
    opacity: 0;
}

.chat-container-GPT-messages-global-system-bubble:hover pre,
.chat-container-GPT-messages-local-system-bubble:hover pre {
    opacity: 1;
}

.chat-container-GPT-messages-local-system-bubble.active {
    border: 0px;
    width: 90%;
    height: 400px;
    background-color: #0c0c0c;
}

.chat-container-GPT-messages-local-system-bubble.active label {
    opacity: 0;
}

.chat-container-GPT-messages-local-system-bubble.active pre {
    opacity: 1;
}

.chat-container-GPT-messages-search-bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 600px;
    border: 0px;
    border-radius: 10px;
    background-color: #0c0c0c;
    scroll-behavior: smooth;
    transition: 0.3s;
    overflow-y: auto;
}

.chat-container-GPT-messages-search-bubble.done {
    height: 200px;
}

.chat-container-GPT-messages-search-bubble.done:hover {
    height: 800px;
}

.chat-search-title {
    font-family: 'Berlin Sans FB';
    font-size: 20px;
}

.chat-search-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.chat-search-display .search {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background-color: #191b25;
}

.chat-search-display .source {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Berlin Sans FB';
    font-size: 30px;
    background-color: #00000065;
}

.chat-search-display .keyword {
    padding: 5px;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 25px;
    width: 100%;
    border-bottom: #ffffff46 2px solid;
}

.chat-search-display .item {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    background-color: #42434d;
}

.chat-search-display .item-title {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Berlin Sans FB';
    font-size: 20px;
    background-color: #00000065;
}

.chat-search-display .item-content {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman';
    border-radius: 10px;
    background-color: #42434d;
}

.chat-container-GPT-messages-user {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 10px;
    align-items: flex-start;
    width: 100%;
}

.chat-container-GPT-messages-user-icon {
    display: grid;
    color: white;
    background-color: #0b6b4b;
    margin-right: 5%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: 'Broadway';
    font-size: 20px;
}

.chat-container-GPT-messages-user-bubble {
    margin-right: 20px;
    background-color: #2d3d37;
    border: #2d3d37 3px solid;
    box-sizing: border-box;
    padding: 0px 20px;
    min-height: 60px;
    border-radius: 30px;
    max-width: 70%;
    transition: 0.3s;
}

.chat-container-GPT-messages-user-bubble pre {
    white-space: pre-wrap;
    font-family: 'Microsoft YaHei';
}

.chat-container-GPT-messages-user-bubble:hover {
    border: #42534d 3px solid;
}

.chat-container-GPT-messages-user-bubble.delete {
    transition: 1s;
    border: #6b0b0b 3px solid;
}

.chat-container-GPT-messages-bot {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    align-items: flex-start;
    width: 100%;
}

.chat-container-GPT-messages-bot-icon {
    display: grid;
    color: white;
    background-color: #0f5886;
    margin-left: 5%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-family: 'Broadway';
    font-size: 20px;
}

#raw-message {
    display: none;
    white-space: pre-wrap;
    font-family: 'Microsoft YaHei';
}

.chat-container-GPT-messages-bot-bubble {
    margin-left: 20px;
    background-color: #222222;
    box-sizing: border-box;
    padding: 0px 20px;
    min-height: 60px;
    border-radius: 30px;
    max-width: 70%;
    border: #222222 3px solid;
    transition: 0.3s;
}

.chat-container-GPT-messages-bot-bubble:hover {
    border: #333333 3px solid;
}

.chat-container-GPT-messages-bot-bubble.succeed {
    border: #0b6b4b 3px solid;
}

.chat-container-GPT-messages-bot-bubble.delete {
    transition: 1s;
    border: #6b0b0b 3px solid;
}

.chat-container-GPT-messages-bot-bubble.regenerate {
    transition: 1s;
    border: #0f5886 3px solid;
}

.chat-container-GPT-messages-bot-bubble.raw > :not(#raw-message) {
    display: none;
}

.chat-container-GPT-messages-bot-bubble.raw > #raw-message {
    display: block;
}

.chat-container-GPT-messages-bot-bubble a {
    color: #1bda9a;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message) {
    position: relative;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    border: #000000 3px solid;
    border-radius: 30px;
    background-color: #000000;
    overflow-x: auto;
    font-size: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    transition: 0.3s;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message)::after {
    position: absolute;
    right: 20px;
    top: 5px;
    content: attr(code-language);
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message):hover {
    transform: scale(1.005);
    box-shadow: 2px 2px 4px #111111;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).active {
    transition: 1s;
    transform: scale(1.03);
    border: #111111 3px solid;
    background-color: #111111;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).succeed {
    border: #0b6b4b 3px solid;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).fail {
    border: #6b0b0b 3px solid;
}


/* .chat-container-GPT-messages-bot-bubble:hover,
.chat-container-GPT-messages-user-bubble:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px #000000;
} */

.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar
 {
    width: 8px;
    height: 6px;
}
  
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 4px;
}
  
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-thumb {
    background: #3d3d3d;
    border-radius: 4px;
}
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-thumb:hover {
    background: #535353;
}
/* 
.code-interact-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #2d3d37;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 2px 6px #0b6b4b;
    font-family: 'Times New Roman', Times, serif;
    transition: opacity 0.2s ease;
}

.code-interact-menu ul {
    list-style: none;
    background-color: black;
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

.code-interact-menu ul li {
    padding: 10px;
    background-color: #0b6b4b;
    font-family: 'Berlin Sans FB';
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.code-interact-menu ul li:hover {
    background-color: #118a61;
} */