.chat-container-GPT-messages-user {
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
    padding: 10px;
    align-items: flex-start;
    width: 100%;
}

.chat-container-GPT-messages-user-icon {
    display: grid;
    color: white;
    background-color: #0b6b4b;
    margin-right: 5%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-family: 'Bauhaus 93';
    font-size: 20px;
}

.chat-container-GPT-messages-user-bubble {
    margin-right: 20px;
    background-color: #2d3d37;
    border: #2d3d37 3px solid;
    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 25px;
    max-width: 70%;
    transition: 0.3s;
}

.chat-container-GPT-messages-user-bubble pre {
    white-space: pre-wrap;
    font-family: '微软雅黑';
}

.chat-container-GPT-messages-user-bubble.delete {
    transition: 1s;
    border: #6b0b0b 3px solid;
}

.chat-container-GPT-messages-bot {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    align-items: flex-start;
    width: 100%;
}

.chat-container-GPT-messages-bot-icon {
    display: grid;
    color: white;
    background-color: #0f5886;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-family: 'Bauhaus 93';
    font-size: 20px;
}

#raw-message {
    display: none;
    white-space: pre-wrap;
    font-family: '微软雅黑';
}

.chat-container-GPT-messages-bot-bubble {
    margin-left: 20px;
    background-color: #222222;
    box-sizing: border-box;
    padding: 0px 20px;
    border-radius: 25px;
    max-width: 70%;
    border: #222222 3px solid;
    transition: 0.3s;
}

.chat-container-GPT-messages-bot-bubble:hover {
    border: #333333 3px solid;
}

.chat-container-GPT-messages-bot-bubble.succeed {
    border: #0b6b4b 3px solid;
}

.chat-container-GPT-messages-bot-bubble.delete {
    transition: 1s;
    border: #6b0b0b 3px solid;
}

.chat-container-GPT-messages-bot-bubble.raw > :not(#raw-message) {
    display: none;
}

.chat-container-GPT-messages-bot-bubble.raw > #raw-message {
    display: block;
}

.chat-container-GPT-messages-bot-bubble a {
    color: #1bda9a;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message) {
    position: relative;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    border: #000000 3px solid;
    border-radius: 25px;
    background-color: #000000;
    overflow-x: auto;
    font-size: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    transition: 0.3s;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message)::after {
    position: absolute;
    right: 20px;
    top: 5px;
    content: attr(code-language);
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message):hover {
    transform: scale(1.005);
    box-shadow: 2px 2px 4px #111111;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).active {
    transition: 1s;
    transform: scale(1.03);
    border: #111111 3px solid;
    background-color: #111111;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).succeed {
    border: #0b6b4b 3px solid;
}

.chat-container-GPT-messages-bot-bubble .code-block:not(#raw-message).fail {
    border: #6b0b0b 3px solid;
}


/* .chat-container-GPT-messages-bot-bubble:hover,
.chat-container-GPT-messages-user-bubble:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 4px #000000;
} */

.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar
 {
    width: 8px;
    height: 6px;
}
  
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 4px;
}
  
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-thumb {
    background: #3d3d3d;
    border-radius: 4px;
}
.chat-container-GPT-messages-bot-bubble .code-block::-webkit-scrollbar-thumb:hover {
    background: #535353;
}

.code-interact-menu {
    /* display: none; */
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #2d3d37;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 2px 2px 6px #0b6b4b;
    font-family: 'Times New Roman', Times, serif;
    transition: opacity 0.2s ease;
}

.code-interact-menu ul {
    list-style: none;
    /* background-color: black; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
}

.code-interact-menu ul li {
    padding: 10px;
    background-color: #0b6b4b;
    font-family: 'Berlin Sans FB';
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.code-interact-menu ul li:hover {
    background-color: #118a61;
}